@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --Primary-Scissors-Gradient-1: hsl(39, 89%, 49%);
  --Primary-Scissors-Gradient-2: hsl(40, 84%, 53%);
  --Primary-Paper-Gradient-1: hsl(230, 89%, 62%);
  --Primary-Paper-Gradient-2: hsl(230, 89%, 65%);
  --Primary-Rock-Gradient-1: hsl(349, 71%, 52%);
  --Primary-Rock-Gradient-2: hsl(349, 70%, 56%);
  --Primary-Lizard-Gradient-1: hsl(261, 73%, 60%);
  --Primary-Lizard-Gradient-2: hsl(261, 72%, 63%);
  --Primary-Spock-Gradient-1: hsl(189, 59%, 53%);
  --Primary-Spock-Gradient-2: hsl(189, 58%, 57%);

  --Neutral-Dark-Text: hsl(229, 25%, 31%);
  --Neutral-Score-Text: hsl(229, 64%, 46%);
  --Neutral-Header-Outline: hsl(217, 16%, 45%);

  --Radial-Gradient-1: hsl(214, 47%, 23%);
  --Radial-Gradient-2: hsl(237, 49%, 15%);

  --font-weight-600: 600;
  --font-weight-700: 700;

  --choice-result-size: clamp(6.5rem, 14vw + .5rem, 15rem);
  --choice-result-border-w: clamp(1rem, 2vw + .5rem, 1.7rem);
  --choice-result-icon-size: clamp(2.5rem, 5vw + .5rem, 6rem);

  --choice-size: clamp(4.8rem, 23vw + .5rem, 7rem);
  --choice-icon-size: clamp(2rem, 7vw + .5rem, 2.5rem);
  --choice-border-w: clamp(.8rem, 1vw + .5rem, 1rem);

  --font-size-large: clamp(18px, 1.8vw + .5rem, 22px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  list-style: none;
  text-decoration: none;
}

@keyframes pulseAnimate {
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

body {
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(circle 800px at 50% 0%, var(--Radial-Gradient-1) 20%, var(--Radial-Gradient-2) 80%);
  padding: 2rem;
  height: 100vh;
  overflow: hidden;

  .app-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;

    .app-score-container {
      display: flex;
      justify-content: space-between;
      width: min(100%, max(33rem));
      height: 100%;
      padding: 1rem;
      border: 3px solid var(--Neutral-Header-Outline);
      border-radius: 8px;

      .app-title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        img {
          width: clamp(4rem, 6.5vw + .5rem, 6.5rem);
          /*4rem 6.5rem */
        }
      }

      .app-score {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 7rem;
        padding: .5rem;
        border-radius: inherit;
        background-color: white;

        h1 {
          font-size: var(--font-size-medium);
          font-weight: 600;
          line-height: 1rem;
          text-transform: uppercase;
          color: var(--Neutral-Score-Text);
        }

        span {
          font-size: 50px;
          /* 50px */
          font-weight: 700;
          color: var(--Neutral-Dark-Text);
        }
      }
    }

    .choice-main-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-top: 2rem;
      width: min(100%, max(max-content));
      aspect-ratio: 1/1;

      .choice-pentagon-container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: -9;
        padding: 1rem;

        .choice-pentagon {
          width: 85%;
          aspect-ratio: 1/1;
        }
      }

      .shadow {
        position: absolute;
        z-index: 99;
        border-radius: 360px;
        width: var(--choice-size);
        height: var(--choice-size);
        box-shadow: inset 0 clamp(-0.3438rem, -0.163vw + -0.2174rem, -0.25rem) rgba(53, 53, 53, 0.274); /* -5.5px */
      }

      .choice-rock-btn,
      .choice-paper-btn,
      .choice-scissor-btn,
      .choice-lizard-btn,
      .choice-spock-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--choice-size);
        height: var(--choice-size);
        box-shadow: inset 0 clamp(3px, .5vw + .05rem, 4px) rgb(199, 199, 199); /* 4px */
        border-radius: 100px;
        cursor: pointer;

        img {
          width: var(--choice-icon-size);
        }
      }

      .choice-scissor-container {
        display: flex;
        justify-content: center;
        width: 100%;

        .choice-scissor-btn {
          border: var(--choice-border-w) solid var(--Primary-Scissors-Gradient-1);
        }

        .choice-scissor-btn:hover {
          border: var(--choice-border-w) solid var(--Primary-Scissors-Gradient-2);
        }
      }

      .choice-spock-paper-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2.5rem;

        .choice-paper-btn {
          border: var(--choice-border-w) solid var(--Primary-Paper-Gradient-1);
        }

        .choice-paper-btn:hover {
          border: var(--choice-border-w) solid var(--Primary-Paper-Gradient-2);
        }

        .choice-spock-btn {
          border: var(--choice-border-w) solid var(--Primary-Spock-Gradient-1);
        }

        .choice-spock-btn:hover {
          border: var(--choice-border-w) solid var(--Primary-Spock-Gradient-2);
        }
      }

      .choice-rock-lizard-container {
        display: flex;
        justify-content: space-around;
        width: 100%;

        .choice-rock-btn {
          border: var(--choice-border-w) solid var(--Primary-Rock-Gradient-1);
        }

        .choice-rock-btn:hover {
          border: var(--choice-border-w) solid var(--Primary-Rock-Gradient-2);
        }

        .choice-lizard-btn {
          border: var(--choice-border-w) solid var(--Primary-Lizard-Gradient-1);
        }

        .choice-lizard-btn:hover {
          border: var(--choice-border-w) solid var(--Primary-Lizard-Gradient-2);
        }
      }
    }

    .app-history-rules-container {
      position: absolute;
      display: flex;
      flex-direction: column;
      right: 0;
      bottom: 0;
      gap: .5rem;
      margin: 1rem;

      button {
        border: 2px solid white;
        color: white;
        border-radius: 10px;
        background-color: transparent;
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-600);
        text-transform: uppercase;
        padding: .5rem 1rem;
        cursor: pointer;
      }
    }

    .rules-main-container {
      position: absolute;
      background-color: white;
      border-radius: 10px;
      padding: 1.5rem;

      .rules-title-close-container {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        color: var(--Neutral-Dark-Text);
        padding-bottom: .5rem;

        h1 {
          font-size: var(--font-size-large);
        }
      }

      button {
        position: absolute;
        right: 0;
        top: 0;
        margin: 1.5rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }

      img {
        margin-bottom: 1rem;
      }
    }

    .match-history-main-container {
      position: absolute;
      background-color: white;
      border-radius: 10px;
      padding: 1.5rem;
      width: 40%;
      text-align: center;
      height: max(20rem);
      overflow: hidden;

      p {
        color: var(--Neutral-Dark-Text);
        font-size: var(--font-size-medium);
        font-weight: 600;
      }

      .match-history-title-close-container {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        color: var(--Neutral-Dark-Text);
        padding-bottom: 1rem;

        h1 {
          font-size: var(--font-size-large);
        }

        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
      }

      ul::-webkit-scrollbar {
        display: none;
      }

      ul {
        gap: .5rem;
        padding: 0;
        padding-bottom: 2rem;
        border-top: 1px solid var(--Neutral-Header-Outline);
        height: 100%;
        overflow-y: scroll;

        li {
          margin-bottom: .5rem;
          display: flex;
          justify-content: space-between;
          color: var(--Neutral-Dark-Text);
          text-transform: capitalize;
          padding: .5rem;
          border-bottom: 1px solid var(--Neutral-Header-Outline);

          .match-history-result {
            font-weight: var(--font-weight-600);
            color: var(--Neutral-Score-Text);
            text-transform: uppercase;
          }

          .match-history-date {
            font-weight: var(--font-weight-600);
          }

          strong {
            font-weight: var(--font-weight-700);
            margin: 0 0.5rem;
          }
        }
      }
    }

    .play-main-container {
      display: flex;
      align-items: center;
      gap: 4rem;
      text-align: center;
      text-transform: uppercase;
      margin-top: 2rem;

      .shadow-result {
        position: absolute;
        border-radius: 360px;
        width: var(--choice-result-size);
        height: var(--choice-result-size);
        box-shadow: inset 0 clamp(-0.6563rem, -0.7813vw + -0.1563rem, -0.3125rem) rgba(75, 75, 75, 0.418); /*-10.5px*/
      }

      .play-player-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2.5rem;
        height: 100%;

        h1 {
          font-size: var(--font-size-large);
          color: white;
        }

        .pulse-main-container {
          position: absolute;
          aspect-ratio: 1/1;
          width: 100%;
          z-index: -9999;
          border-radius: 360px;
          display: flex;
          justify-content: center;
          align-content: center;

          .pulse {
            position: relative;
            aspect-ratio: 1/1;
            border-radius: 360px;
            display: flex;
            justify-content: center;
            align-content: center;

            span {
              position: absolute;
              background-color: white;
              border-radius: inherit;
              opacity: .10;
              width: 100%;
              height: 100%;
              animation: pulseAnimate 3s ease-in-out infinite;
              animation-delay: calc(1s * var(--p));
            }
          }

          .pulse-1 {
            --p: 0;
          }

          .pulse-2 {
            --p: 1;
          }

          .pulse-3 {
            --p: 2;
          }
        }

        .play-player-picked-rock,
        .play-player-picked-paper,
        .play-player-picked-scissor,
        .play-player-picked-lizard,
        .play-player-picked-spock {
          display: flex;
          align-items: center;
          justify-content: center;
          width: var(--choice-result-size);
          height: var(--choice-result-size);
          box-shadow: inset 0 clamp(0.25rem, 0.1364rem + 0.5682vw, 0.5rem) rgba(199, 199, 199, 0.637); /*8px*/
          background-color: white;
          border-radius: 150px;
          cursor: pointer;

          img {
            width: var(--choice-result-icon-size);
          }
        }

        .play-player-picked-rock {
          border: var(--choice-result-border-w) solid var(--Primary-Rock-Gradient-1);
        }

        .play-player-picked-paper {
          border: var(--choice-result-border-w) solid var(--Primary-Paper-Gradient-1);
        }

        .play-player-picked-scissor {
          border: var(--choice-result-border-w) solid var(--Primary-Scissors-Gradient-1);
        }

        .play-player-picked-spock {
          border: var(--choice-result-border-w) solid var(--Primary-Spock-Gradient-1);
        }

        .play-player-picked-lizard {
          border: var(--choice-result-border-w) solid var(--Primary-Lizard-Gradient-1);
        }
      }

      .play-computer-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2.5rem;
        height: 100%;

        h1 {
          font-size: var(--font-size-large);
          color: white;
        }

        .pulse-main-container {
          position: absolute;
          aspect-ratio: 1/1;
          width: 100%;
          z-index: -9999;
          border-radius: 360px;
          display: flex;
          justify-content: center;
          align-content: center;

          .pulse {
            position: relative;
            aspect-ratio: 1/1;
            border-radius: 360px;
            display: flex;
            justify-content: center;
            align-content: center;

            span {
              position: absolute;
              background-color: white;
              border-radius: inherit;
              opacity: .10;
              width: 100%;
              height: 100%;
              animation: pulseAnimate 3s ease-in-out infinite;
              animation-delay: calc(1s * var(--p));
            }
          }

          .pulse-1 {
            --p: 0;
          }

          .pulse-2 {
            --p: 1;
          }

          .pulse-3 {
            --p: 2;
          }
        }

        .play-computer-picked-rock,
        .play-computer-picked-paper,
        .play-computer-picked-scissor,
        .play-computer-picked-lizard,
        .play-computer-picked-spock {
          display: flex;
          align-items: center;
          justify-content: center;
          width: var(--choice-result-size);
          height: var(--choice-result-size);
          box-shadow: inset 0 clamp(0.25rem, 0.1364rem + 0.5682vw, 0.5rem) rgba(199, 199, 199, 0.637);
          background-color: white;
          border-radius: 150px;
          cursor: pointer;

          img {
            width: var(--choice-result-icon-size);
          }
        }

        .play-computer-picked-rock {
          border: var(--choice-result-border-w) solid var(--Primary-Rock-Gradient-1);
        }

        .play-computer-picked-paper {
          border: var(--choice-result-border-w) solid var(--Primary-Paper-Gradient-1);
        }

        .play-computer-picked-scissor {
          border: var(--choice-result-border-w) solid var(--Primary-Scissors-Gradient-1);
        }

        .play-computer-picked-spock {
          border: var(--choice-result-border-w) solid var(--Primary-Spock-Gradient-1);
        }

        .play-computer-picked-lizard {
          border: var(--choice-result-border-w) solid var(--Primary-Lizard-Gradient-1);
        }
      }

      .play-result-container {
        color: white;
        text-transform: uppercase;

        h1 {
          line-height: 4rem;
        }

        button {
          cursor: pointer;
          color: var(--Neutral-Dark-Text);
          font-size: var(--font-size-medium);
          padding: .5rem 2rem;
          background-color: white;
          border-radius: 5px;
          border: none;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media (max-width: 630px) {
  body {
    .app-main-container {

      .app-history-rules-container {
        flex-direction: row;
        padding: 2rem;
        margin: 0;
        width: 100%;
        justify-content: center;
      }

      .match-history-main-container {
        top: 0;
        width: 100%;
        height: 100%;

        .match-history-title-close-container {
          margin-bottom: 1rem;
        }
      }

      .rules-main-container {
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .rules-title-close-container {
          display: flex;
          justify-content: space-between;
          text-transform: uppercase;
          color: var(--Neutral-Dark-Text);
          padding-bottom: 5rem;

          h1 {
            font-size: 2rem;
          }
        }

        button {
          display: block;
          top: 45rem;
          inset: 80% 0 0 0;
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
      }

      .play-main-container {
        justify-content: center;
        margin-top: 3rem;

        .play-player-container {
          flex-direction: column-reverse;
        }

        .play-computer-container {
          flex-direction: column-reverse;
        }

        .play-result-container {
          position: absolute;
          top: 27rem;

          h1 {
            font-size: 3.5rem;
            padding-bottom: 1rem;
          }

          button {
            padding: 1rem 4rem;
            font-size: 1rem;
            font-weight: 700;
          }
        }
      }
    }
  }
}